# Rename this file to .env.production after you fill it out.
# Use this as a template for the .env when you deploy
# Please use secure session secrets if you plan on making this public

# For the login system
JWT_SECRET=example
SESSION_SECRET=example
ADMIN_EMAIL=example@example.com
RESEND_API_KEY=example
PUBLIC_ORIGIN=example.com
# For securing the rate-limiting
BOT_TOKEN=example
TOKEN_SECRET=example
CAP_SECRET=example
# For the AI
GROQ_API_KEY=example
# For the movies
TMDB_API_KEY=example
# For the ads
EXOCLICK_ENABLED=true
EXOCLICK_VAST_URL=https://s.magsrv.com/v1/vast.php?idz=6002278
EXOCLICK_API_TOKEN=example
